#root {
  margin-bottom: 10px;
  width: 95%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 2em;
  width: 100%;
}

.read-the-docs {
  color: #888;
}

.date-selector-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.date-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}